---
id: lga-verification
title: LGA Verification
---

This stage enables the verification of surplus staff from the regions to the regional user to ensure it takes the appropriate number of redistributed staff to the next step.

![img alt](/img/LGA_Verification1.png)
Verification

Also, the status of verification is shown

![img alt](/img/LGA_Verification2.png)
Verification Status

On clicking the specific Council, LGA users get a room to change confirmation status, view and edit due date but also view comments made by regional users and comment back.

![img alt](/img/LGA_Verification3.png)
Providing Confirmation Status

Moreover, users can search for geographical locations of interest on the search button. National users, regional users and LGA users can communicate on the platform via a communication tool and ensure the appropriate number is being taken forward. Every user can see the comment section at different times. The LGA user communicates with the regional user and the regional then communicates to the national user. The regional user has communication access both ways to LGA and National. Clicking the comment button, a pop-up window appears as seen in figure

![img alt](/img/LGA_Verification4.png)
Comment Window

The surplus overview table shows the optimal surplus and verified surplus. Optimal surplus is a default one from WISN calculation as per existing HRH and calculated need while verified are manually assigned by the user based on real availability to be redistributed in the higher organization unit

![img alt](/img/LGA_Verification5.png)
Window to Edit Available Surplus

LGA users will need to edit the verified surplus accordingly for regional users to know the number of cadres to redistribute across the region. The regional users would conduct a similar process after surplus has been verified by the LGAs and are expected to verify and edit the number accordingly for national users. This enables a smooth process redistribution process up to the national level to redistribute HCWs across the country. Summary of the optimal surplus and verified surplus is displayed at the next tab named available redistribution

![img alt](/img/LGA_Verification6.png)
Display of Optimal and Verified Surplus

Going to the next step of redistribution, the default surplus will always be the verified ones, however users can toggle the process in this verification stage by selecting either optimal or verified to be used for redistribution.

![img alt](/img/LGA_Verification7.png)
Optimal/Verified for Redistribution.
