---
id: verification
title: Verification
---

This stage enables the verification of surplus staff from the regions to the national user to ensure it takes the appropriate number of redistributed staff to the next step.
![img alt](/img/verification1.png)
Verification

The status of verification is also shown
![img alt](/img/verification2.png)
Verification Status

On clicking the Region or council, users can see the confirmation status, due date and overdue status and comment section.
![img alt](/img/verification3.png)
Confirmation Status

Moreover, users can search for geographical locations of interest on the search button. National users, regional users and LGA users can communicate on the platform via a communication tool and ensure the appropriate number is being taken forward. Every user can see the comment section at different times LGA and National user comments go to region users only while regional users can comment to LGA and National. Clicking the comment button, a pop-up window appears as seen in figure
![img alt](/img/verification4.png)
Comment Window

The surplus overview table shows the optimal surplus and verified surplus. Optimal surplus is a default one from WISN calculation as per existing HRH and calculated need while verified are manually assigned by the user based on real availability to be redistributed in the higher organization unit
![img alt](/img/verification5.png)
Window to Edit Available Surplus

For national users, a verified surplus column is not editable since it is the highest level. LGA users will need to edit the verified surplus accordingly for Regional users to know the number of cadres to redistribute across the regional and the same for regional users after surplus should be verified and edit the number accordingly for national users to know how many to redistribute across the country. Summary of the optimal surplus and verified surplus is displayed at the next tab named available redistribution.
![img alt](/img/verification6.png)
Display of Optimal and Verified Surplus

Going to the next step of redistribution, the default surplus which counts is verified ones, however users can toggle the process in this verification stage by selecting either optimal or verified to be used for redistribution.
![img alt](/img/verification7.png)
Optimal/Verified for Redistribution
